{% extends 'index.html' %} {% load static %} {% block head%} {%block head2%}
{%endblock%}
<style>
  .text-muted-footer {
    color: #ffffff58;
    font-weight: lighter;
  }

  nav {
    z-index: 1;
  }

  .navbar {
    height: 90px;
  }

  .w-responsive {
    width: 25%;
  }

  @media (max-width: 768px) {
    .w-responsive {
      width: 100%;
    }

    nav {
      height: 90px !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    input {
      width: 90px !important;
    }

    i {
      width: 30px;
    }
  }

  .text-muted-footer {
    color: white;
    font-weight: lighter;
  }

  .navbar-a {
    font-size: 18px;
    text-decoration: none;
    color: white !important;
  }

  nav {
    z-index: 1;
    background-color: #0B4B88 !important;
  }

  .offcanvas {
    width: 200px !important;
    background-color: #0B4B88 !important;
  }

  .newBarSize {
    width: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newBarSize input {
    width: 75% !important;
  }
</style>
{% endblock %} {% block body%}

<div class="offcanvas offcanvas-start w-responsive" tabindex="-1" id="offcanvas" data-bs-keyboard="false"
  data-bs-backdrop="false">
  <div style="height: fit-content;" class="offcanvas-header">
    <h6 class="offcanvas-title d-sm-block navbar-a" id="offcanvas">Menu</h6>
    <button style="background-color: #fff !important;" type="button" class="btn-close text-reset"
      data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body px-0">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
      <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link text-truncate navbar-a">
          <i class="fs-5 bi-house"></i><span class="ms-1 d-sm-inline">Inicio</span>
        </a>
      </li>
      <li>
        <a href="{% url 'aboutUs' %}" class="nav-link text-truncate navbar-a">
          <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-sm-inline">Sobre Nosotros</span>
        </a>
      </li>

      <li class="dropdown">
        <a href="#" class="nav-link dropdown-toggle text-truncate navbar-a" id="dropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fs-5 bi-bootstrap "></i><span class="ms-1 d-sm-inline">Categorias</span>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
          {% for item in categorias %}
          <li class="dropdown-item">
            <form action="{% url 'category' %}" method="post" class="category-form">
              {% csrf_token %}
              <input type="hidden" name="category" value="{{ item.nombre }}">
              <button type="submit" class="category-button "
                style="background-color: #0B4B88;border:none; font-size: 18px; font-weight: 400;   width: 100%; height: 60px; border-radius: 11px; color: white;">
                {{ item.nombre }}
              </button>
            </form>
          </li>
          {% endfor %}
        </ul>
      </li>

    </ul>
  </div>
</div>
<nav class="navbar navbar-expand-md navbar-light  d-none pc_item">
  <div class="container-xxl">
    <div>
      <a class="navbar-brand" href="{% url 'home' %}" style="width: fit-content; height: fit-content; display: flex">
        <img src="{% static 'admin/img/logo.png' %}" alt="" width="70" height="60" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active navbar-a" aria-current="page" href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active navbar-a" aria-current="page" href="{% url 'aboutUs' %}">Sobre Nosostros</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-a" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for item in categorias %}
            <li class="dropdown-item">
              <form action="{% url 'category' %}" method="post" class="category-form">
                {% csrf_token %}
                <input type="hidden" name="category" value="{{ item.nombre }}">
                <button type="submit" class="category-button "
                  style="background-color: #0B4B88;border:none; font-size: 18px; font-weight: 400; width: 100%; height: 60px; border-radius: 11px; color: white;">
                  {{ item.nombre }}
                </button>
              </form>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <form class="d-flex" method=POST action="{% url 'search' %}">
        {% csrf_token %}
        <input name="searched" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
        <button class="btn" type="submit">
          <i style="color: #fff;" class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
<nav class="d-flex justify-content-between mobile_item">
  <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
    <i style="color: #fff;" class="fa-solid fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
  </button>
  <div class="image-mobile ">
    <a class="navbar-brand " href="{% url 'home' %}" style="width: fit-content; height: fit-content; display: flex">
      <img src="{% static 'admin/img/logo.png' %}" alt="" width="70" height="60" />
    </a>
  </div>
  <form method=POST action="{% url 'search' %}" class="d-flex search-bar">
    {% csrf_token %}
    <input name="searched" class="mobile form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
    <button class="btn" type="submit">
      <i style="color: #fff;" class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</nav>
{% block banner %} {% endblock %} {% block content %} {% endblock%}

<footer class="footer py-5" style="background-color: #0b4b88; width: 100%">
  <div class="container-md text-center">
    <div class="row px-0">
      <div class="col-lg-6 row">
        <div class="col-md-11 col-sm-12 mb-sm-3 mb-lg-0">
          <h2 style="color: #fff; font-weight: 500">Acta Sports</h2>
        </div>
        <div class="col-7 text-muted-footer mx-auto text-start">
          <p class="mb-1">NIT: 901740821</p>
          <p>DIRECCION: CRA 36#4-12 Bogota D.C</p>
        </div>
        <div class="col-7 text-muted-footer mx-auto text-start">
          <p>TEL.3012546633</p>
        </div>
        <div class="col-7 text-muted-footer mx-auto text-start mb-5">
          <p>Acta Sports</p>
        </div>
      </div>
      <div class="row align-items-center justify-content-center col-lg-6">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-l-12 col-xl-12">
          <a class="footer-link btn text-muted-footer" href="#sobre-nosotros">
            Sobre nosotros
          </a>
        </div>

        <div class="col col-xs-12 col-sm-12 col-md-12 col-l-12 col-xl-12">
          <a class="footer-link btn text-muted-footer" href="https://wa.link/kpu8i2">
            WhatsApp
          </a>
        </div>

        <div class="col col-xs-12 col-sm-12 col-md-12 col-l-12 col-xl-12">
          <a class="footer-link btn text-muted-footer"
            href="https://instagram.com/tecnocreditooficial?igshid=MzRlODBiNWFlZA==">
            Instagram
          </a>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-12 col-l-12 col-xl-12">
          <a class="footer-link btn text-muted-footer" href="/login">
            <i class="fa-solid fa-user-lock"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://kit.fontawesome.com/4439c74de6.js" crossorigin="anonymous"></script>
<script>
  $(document).ready(() => {
    let screen_width = screen.width;
    if (screen_width < 768) {
      $(".pc_item").addClass("d-none");
      $(".mobile_item").removeClass("d-none");
      $(".image-mobile").addClass("d-none");
      $(".search-bar").addClass("newBarSize");
    } else {
      $(".mobile_item").addClass("d-none");
      $(".image-mobile").removeClass("d-none");
      $(".search-bar").removeClass("newBarSize");
      $(".pc_item").removeClass("d-none");
    }
  });


  $(window).on("resize", () => {
    let screen_width = $(window).width();

    if (screen_width < 768) {
      $(".image-mobile").addClass("d-none");
    } else {
      $(".image-mobile").removeClass("d-none");
    }
  });
</script>
{%endblock%}