{% extends 'index.html' %} {% load static%} {%block head %}
<style>
  a {
    font-size: 25px !important;
    color: #0B4B88 !important;
  }

  .navbar {
    background-color: white !important;
    border-bottom: 2px solid #0B4B88 !important;
    position: fixed;
    z-index: 100;
    width: 100%;
  }



  .menu {
    background-color: #0B4B88 !important;
    height: 100%;
    margin-top: 0px !important;
    border-radius: 0px !important;
    width: 150px !important;
    overflow: hidden !important;
    z-index: 99 !important;
    position: fixed;
    padding-top: 6em;
  }

  .menu a {
    color: white !important;
    font-size: 15px !important;
  }

  .content3 {
    width: calc(100% - 150px) !important;
    right: 0;
    padding: 20px !important;
    top: 0px;
    height: fit-content;
    position: absolute;
    margin-top: 100px;
  }

  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% !important;
  }
</style>
{%block head2%} {%endblock%} {%endblock%} {%block body %}
<div class="bg-container">
  <nav class="navbar navbar-expand bg-body-tertiary">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand" href="#" style="width: fit-content; height: fit-content; display: flex">
          <img src="{% static 'admin/img/logo.png' %}" alt="" width="70" height="60" />
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a>Acta Sports</a>
          </li>

        </ul>
        <a class="pr-4" href="{% url 'login' %}" class="navbar-text"><i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
    </div>
  </nav>
  <div content-container>
    <div class="ui vertical menu">
      <a href="{% url 'dashboard' %}" class="item">
        <i class="home icon"></i> Inicio
      </a>
      <a href="{% url 'products' %}" class="item">
        <i class="upload icon"></i> Productos
      </a>
      <a href="{% url 'categories' %}" class="item">
        <i class="table icon"></i> Categorias
      </a>
      <a class="item">
        <i class="folder icon"></i> blank
      </a>
      <a class="item">
        <i class="cart icon"></i> blank
      </a>

    </div>


    <div class="content3">
      <div class="dashboard">
        <h1>Panel Administrador</h1>
      </div>
      {%block content2 %}
      {%endblock%}
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    var currentPath = window.location.pathname;

    if (currentPath !== '{% url "dashboard" %}') {
      $(".dashboard").addClass("d-none");
    } else {
      $(".dashboard").removeClass("d-none");
    }
  });
</script>
{%endblock%}